language = "python3"
run = "cd ./TaskManager && pip3 install -r requirements.txt && python3 todocli.py show && cd .. && cd ./FetchAudio && pip3 install -r requirements.txt && python3 extract_audio.py"